---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Services">
  <section class="wrap">
    <h1>Services</h1>
    <p>Details of all services we offer.</p>
  </section>
</BaseLayout>
